.footer {
  @include flex(column, center, center);
  height: 70px;
  color: $color-text-2;
  background-color: $color-bg;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4;
  padding: 1rem;
}

.footer-link {
  color: $color-text;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;

  &:hover {
    color: $color-text-2;
    text-decoration: line-through;
  }
}

.heart {
  color: $color-text;
  margin: 0 0.5rem;
}
