@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Colors */
$color-bg: #131119;
$color-bg-2: #16181d;
$color-bg-3: #20232a;
$color-bg-4: #191B1F;
$color-text: #85CF81;
$color-text-2: rgb(235, 235, 235);

/* Fonts */
$font-primary: "Poppins", sans-serif;

/* Breakpoints */
$breakpoint-mobile: 768px;

/* Animations */
$animation-duration: 0.3s;

/* Shadows */
$shadow-1: 0 0 0 1px #373940;

